.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
}

body{
    font-family: "Inter", Arial, sans-serif;
    min-height:100vh;
    margin:0;

    background-image: linear-gradient(#ffa734, #ff7b00);

    text-align:center;
    padding:20px;
}

h1{
    text-shadow: 1px 1px 3px #ca390055;
    color:#b83200;
}

.container{
    color: #ffffff;

    background:#ff8f2a;

    padding:20px;
    margin:20px auto;

    width:90%;
    max-width:400px;

    border-radius:30px;

    box-shadow: 2px 2px 8px #ca390033;
}

input{
    color:#ca3900;

    font-family:"Inter",sans-serif;

    border:none;

    border-radius:20px;

    padding:8px;

    margin:5px;

    width:120px;

    box-shadow: 1px 1px 3px #ca390033;
}

input::placeholder{
    color:#ff9a3c;
}

button{

    font-family:"Inter",sans-serif;

    padding:10px;

    background:#ca3900;

    color:white;

    border:none;

    border-radius:20px;

    cursor:pointer;

    box-shadow: 1px 1px 4px #ca390055;
}

button:hover{
    background:#e64a00;
}

.resultado{
    margin-top:10px;
    font-weight:bold;
}

#fabiano{
    border-radius:20px;
    box-shadow: 1px 1px 4px #ca390044;
}

@media (max-width:480px){

    input{
        width:90%;
        display:block;
        margin:8px auto;
    }

    button{
        width:90%;
        margin-top:10px;
    }

}
